<nav class="navbar">
  <a routerLink="/home" class="nav-link">Home</a>
  <div *ngIf="!authService.isLoggedIn(); else loggedIn">
    <a routerLink="/login" class="nav-link">Login</a>
    <a routerLink="/register" class="nav-link">Register</a>
  </div>
  <ng-template #loggedIn>
    <a routerLink="/catalogue" class="nav-link">Catalogue</a>
    <a routerLink="/catalogue/search" class="nav-link">Search</a>
    <a routerLink="/cart" class="nav-link">Cart</a>
  </ng-template>
</nav>

<router-outlet></router-outlet>
